<bx_include_auto:_header.html />
<div class="sys_root_bg"></div>
<div class="sys_root">
    <noscript>
        <div class="sys_no_js bx-def-padding-topbottom bx-def-font-large"><b><bx_text:_sys_wrn_disabled_scripts /></b></div>
    </noscript>
    <bx_injection:banner_left />
    <bx_injection:banner_right />
    __extra_top_menu__
    <div class="sys_main_logo">
		<div class="sys_ml sys_main_page_width">
            <div class="sys_ml_wrapper bx-def-margin-sec-leftright bx-def-padding-sec-topbottom">
                <bx_injection:injection_logo_before />
                <table cellpadding="0" cellspacing="0">
                	<tr>
                		<td class="sys_search_wrapper">__main_search__</td>
                		<td class="sys_logo_wrapper">
                			<div class="sys_logo_wrapper_cnt bx-def-padding-sec-leftright">__main_logo__</div>
                		</td>
                		<td class="sys_menu_wrapper">__service_menu__</td>
    				</tr>
    			</table>
    			<bx_injection:injection_logo_after />
            </div>
		</div>
		<bx_injection:banner_top />
	</div>
	<bx_injection:injection_between_logo_top_menu />
    __top_menu__
    <bx_injection:injection_between_top_menu_content />
	<!-- end of top -->

	<div class="sys_main_content sys_main_page_width">
        <div class="sys_mc_wrapper bx-def-margin-sec-leftright">
            <div class="sys_mc clearfix">
                <!--[if lt IE 8]>
                <div style="background-color:#fcc" class="bx-def-border bx-def-margin-top bx-def-padding bx-def-font-large">
                    <b>You are using a subprime browser.</b> <br />
                    It may render this site incorrectly. <br />
                    Please upgrade to a modern web browser: 
                    <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a> | 
                    <a href="http://www.firefox.com" target="_blank">Firefox</a> | 
                    <a href="http://www.apple.com/safari/download/" target="_blank">Safari</a>
                </div>
                <![endif]-->

                <!-- body -->
                <bx_injection:injection_splash_before />
                __main_splash__
                <bx_injection:injection_content_before />