<div class="subMenu bx-def-border" id="subMenu___submenu_id__" style="display:__display_value__;">
	<div class="subMenuCnt bx-def-padding-leftright clearfix">
		<div class="sys_page_icon bx-def-padding-right bx-phone-hide">__picture__</div>
		<bx_if:show_caption>
			<div class="sys_page_header bx-def-padding-right">__caption__<bx_injection:injection_title_zone /></div>
		</bx_if:show_caption>
        <bx_if:show_submenu>
	        <div class="sys_page_header_divider bx-def-padding-right bx-phone-hide">
				<i class="sys-icon angle-right"></i>
			</div>
            <div class="sys_page_submenu bx-def-padding-right clearfix">__submenu__</div>
        </bx_if:show_submenu>
        <bx_if:show_submenu_bottom>
        	<div class="sys_page_header_divider bx-def-padding-right">
				<i class="sys-icon angle-right"></i>
			</div>
            <div class="sys_page_submenu_bottom bx-def-padding-right">__submenu__</div>
        </bx_if:show_submenu_bottom>
        <bx_if:show_empty>
            <div class="sys_page_empty"></div>
        </bx_if:show_empty>
        <div class="sys_page_actions clearfix">
            <div class="actionsContainer actionsContainerSubmenu">__profile_actions____login_section__</div>
        </div>
	</div>
</div>
