<div class="sys-service-menu-wrp">
	<div class="sys-service-menu">
		<div class="sys-sm-item sys-smi-search">
			<bx_include_base:search_header.html />
	        <a class="sys-sm-item" href="javascript:void(0)" onclick="javascript:oBxEvoServiceMenu.showSearch();" title="<bx_text_attribute:_sys_sm_search />">
	        	<i class="sys-icon search"></i>
	        </a>
	    </div>
	    <div class="sys-sm-item sys-smi-search-simple">
	        <a class="sys-sm-item" href="searchKeyword.php" title="<bx_text_attribute:_sys_sm_search />">
	        	<i class="sys-icon search"></i>
	        </a>
	    </div>
	</div>
</div>