
div.sys_cal_browse {
	text-align: center;
    text-decoration: none;
}
div.sys_cal_table_wrp {
	position: relative;	
}

.sys_cal_table {
    collapse-border:collapse;
    width:100%;
    border-spacing:10px;
}
.sys_cal_wrapper_mini .sys_cal_table {
    border-spacing:1px;
}

.sys_cal_table th {
    padding:0px;
    text-align:center;
}

.sys_cal_cell_blank {
    background-color:#F9FBFF;
    border:1px solid #efefef;
}

.sys_cal_cell {
    background-color:#F4F7FA;
    text-align:center;
    border:1px solid #dadada;
    height:71px;
    width:14.285%;
}

.sys_cal_wrapper_mini .sys_cal_cell {
    height:38px;
}

.sys_cal_today {
    background-color:#fff;
}

.sys_cal_cell > u {
    display:block;
    text-decoration:none;    
    text-align:right;
    margin:0px 3px 14px 0px;
}
.sys_cal_wrapper_mini .sys_cal_cell > u {
    margin-bottom:0px;
}
.sys_cal_today > u {
    font-weight:bold;
}

.sys_cal_cell > a {
    text-transform:none;
    text-align:center;
}

.sys_cal_cell > a > b { 

}
