    div.clear_both {
        font-size: 0px;
    }
    /*--- General Styles ---*/
    div.cmts {
        /*position: relativ_e;*/
    }
    ul.cmts {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul.cmts-margin {
    	margin-top: 10px;
    }    
    ul.cmts li.cmt {
        margin-left: 38px;
    	margin-bottom: 10px;
    }
    ul.cmts li.cmt-no {
		margin-bottom: 10px;
    }
    li.cmt-just-posted {
    }
    li.cmt-err {
		color: red;
	}		
	li.cmt-no	{
		margin: 0px;
		padding: 0px;
	}
	li.cmt-hidden {
	   display: none;
	}
	li.cmt-replacement {
	   height: 30px;
	   margin-bottom: 10px;
	   position: relative;
	   background-color: #ededed;
	   overflow: hidden;
	   text-indent: 10px;
	   line-height: 30px;	   
	   font-size: 11px;
	   color: #333333;
	}
	li.cmt-replacement div.cmt-rate {
	   top: 5px;
	   right: 0px;
	}

	.cmt-loading {
		display: none;
	}

    /*--- Comment/Reply Box Styles ---*/          
    div.cmt-cont {
        position: relative;/*keep*/
    }
    div.cmt-post-reply {
        position: relative;
    }
    div.cmt-cont div.thumbnail_block,
    div.cmt-post-reply div.thumbnail_block {
        left: -38px;
        top: 1px;        
        position: absolute;        
    }
    table.cmt-balloon {
    	table-layout: fixed;

        width: 100%;
        padding: 0px;
        margin: 0px;

    	background-color: #ffffff;
    }
    div.cmt-post-reply table.cmt-balloon {
        background-color: #ffffdd;
    }

    table.cmt-balloon tr,
    table.cmt-balloon td {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    table.cmt-balloon td.cmt-head-m,
    table.cmt-balloon td.cmt-cont-m {
		width: 100%;

    	text-overflow: ellipsis;
    	overflow: hidden;
    }
    table.cmt-balloon tr.cmt-head td {
        padding-top: 5px;
    	padding-bottom: 5px;
    }
	div.cmt-post-reply table.cmt-balloon tr.cmt-head td {
        padding-top: 0px;
    	padding-bottom: 0px;
    }
    
    table.cmt-balloon tr.cmt-head td.cmt-head-m {
    	padding-right: 80px;

    	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
	}

    table.cmt-balloon tr.cmt-foot td {
        padding-bottom: 5px;
    }

    div.cmt-post-reply table.cmt-balloon tr.cmt-foot td {
        padding-bottom: 0px;
    }

    tr.cmt-foot .bullet {
        padding: 0px 3px;
    }
    span.cmt-posted-ago,
    span.cmt-mood-text {
        color: #999999;
    }
    a.cmt-comment-manage-edit,
    a.cmt-comment-manage-delete {}

    td.cmt-head-l,
    td.wcmt-head-l,
    ul.cmts-margin td.cmt-head-l,
    div.cmt-post-reply td.cmt-head-l {
        width: 10px;
        font-size: 0px;
    }
    td.cmt-head-r,
    td.wcmt-head-r,
    ul.cmts-margin td.cmt-head-r,
    div.cmt-post-reply td.cmt-head-r {
        width: 10px;
        font-size: 0px;
    }
    td.cmt-cont-l,
    td.wcmt-cont-l,
    ul.cmts-margin td.cmt-cont-l,
    div.cmt-post-reply td.cmt-cont-l {
        width: 10px;
        font-size: 0px;
    }
    td.cmt-cont-r,
    td.wcmt-cont-r,
    ul.cmts-margin td.cmt-cont-r,
    div.cmt-post-reply td.cmt-cont-r {
        width: 10px;
        font-size: 0px;
    }
    td.cmt-foot-l,
    td.wcmt-foot-l,
    ul.cmts-margin td.cmt-foot-l,
    div.cmt-post-reply td.cmt-foot-l {
        width: 10px;
        font-size: 0px;
    }
    td.cmt-foot-r,
    td.wcmt-foot-r,
    ul.cmts-margin td.cmt-foot-r,
    div.cmt-post-reply td.cmt-foot-r {
        width: 10px;
        font-size: 0px;
    }
    a.cmt-author {
        text-decoration: none;
    	font-weight: bold;
    }

    /*--- View Replies Styles---*/
    div.cmt-comments,    
    div.cmt-replies {
    	clear: left;
        float: left;

        margin: 0px 0px 5px 5px;
    }
    a.cmt-comments-hide,
    a.cmt-replies-hide {
    	display: none;
    }

    /*--- Post Reply Styles ---*/
    div.cmt-reply-to {
        margin: 0px 2px 5px 0px;
	}
	div.cmt-reply-to a {
	   text-decoration: none;
	}

    /*--- Rate Styles ---*/
	div.cmt-rate {
        top: 2px;
		right: 6px;
		position: absolute;
        z-index: 3;
		text-transform: lowercase;
		text-decoration: none;		
		font-size: 11px;
	}
	div.cmt-points,
	div.cmt-buttons {	   
	   /*position: relativ_e;*/
	   float: left;
	}
	div.cmt-points {
	   padding-right: 3px;
	   line-height: 20px;
	}
	div.cmt-buttons {
	   padding: 4px 0px;
       line-height: normal;
       text-indent: 0px;
	}
    li.cmt-replacement div.cmt-buttons {
        padding-right:6px;
    }
	div.cmt-buttons a.cmt-pos, 
	div.cmt-buttons a.cmt-neg {
        text-decoration: none;		
	}
	div.cmt-buttons a.cmt-pos .sys-icon,
    div.cmt-buttons a.cmt-neg .sys-icon {
        display: inline-block;
        min-width: 12px;
        min-height: 12px;
        font-size: 14px;
        color: #090;
    }
	div.cmt-buttons a.cmt-neg .sys-icon {
        margin-left: 3px;
        color: #C00;
	}
    div.cmt-rate-disabled div.cmt-buttons a.cmt-neg .sys-icon,
	div.cmt-rate-disabled div.cmt-buttons a.cmt-pos	.sys-icon {
        color:#666666;
	}	
    
    /*--- Browse Styles ---*/
    div.cmt-browse {}
	div.cmt-browse-cnt-out {
	   border-top: 1px solid #cccccc;
	}
    div.cmt-browse-cnt-in {
       border-top: 1px solid #ffffff;
    }
	div.cmt-order,
	div.cmt-pages {
	   float: left;
	   text-align: left;
	}	
    div.cmt-pages {
        float: right;
    }
	div.cmt-order select,
	div.cmt-pages select {
	   margin: 0px;
	}
	div.cmt-order div.paginate_sorting {
		display: inline-block;
		vertical-align: middle;
    }

    /*--- Show More(Paginate) Styles ---*/
    div.cmt-show-more .paginate {
        background-color:transparent;
        padding:0;
	}	
    
    /*--- Add Comment/Reply Styles ---*/
    div.cmt-reply {
        /*position: relativ_e;*/
    }
	div.cmt-post-reply {
		margin-left: 38px;		
		padding: 0px;
		/*position: relativ_e;*/
		font-size: 11px;
	}	
	div.cmt-post-reply div.cmt-reply-head {
		padding: 5px 0px;
	}	
	div.cmt-post-reply form {
		display: block;
	}	
    div.cmt-body {
        margin-bottom:5px;
    }
	div.cmt-post-reply textarea, 
	div.cmt-post-reply-to textarea,
	div.cmt-body textarea {
        width: 100%;
	    height: 50px;
	    padding: 5px 10px;
	    margin: 0px;

        box-sizing: border-box;
	}
    div.cmt-post-reply .mce-tinymce,
	div.cmt-post-reply-to .mce-tinymce,
	div.cmt-body .mce-tinymce {
		box-sizing: border-box;
	}	
	div.cmt-body img {
        max-width:500px;
        height:auto;
    }

	div.cmt-post-reply-expanded	{		
        margin: 10px 0px 10px 38px;
	}	
    td.cmt-head-m a.cmt-post-reply-text,
    td.cmt-head-m a.cmt-post-reply-video {
        height: 16px;
        margin: 10px 0px;
        float: left;
        background-repeat: no-repeat;
        background-position: 0px center;
        line-height: 16px;
    }
    td.cmt-head-m a.cmt-post-reply-text {
        padding-right: 14px;
    }
    td.cmt-head-m a.comment {
        display: block;
    }
    td.cmt-head-m a.reply {
        display: none;
    }
    td.cmt-head-m a.inactive {
        color: #666666;
    }
    div.cmt-post-reply-text {
        margin-bottom: 10px;
    }
    div.cmt-post-reply-video {
        margin-bottom: 10px;
        /*position: relativ_e;*/
        display: none;
    }
    div.cmt-post-reply-post .bx-btn {
        float:none;
    } 
    div.cmt-post-reply-mood {
        /*position: relativ_e;*/
        float: right;
    }    
    div.cmt-post-reply-mood input {
        margin-top: 0px;
    }
    div.cmt-post-mood-ctl,
    div.cmt-post-mood-lbl {
        height: 13px;
        margin-top: 4px;
        float: left;                
    }
    div.cmt-post-mood-lbl {
        line-height: 13px;
    }
