#explanation_popup {
    max-width: 100%;
    width: 600px;
}

.allowed_actions_wrapper {
    max-height: 500px;
    overflow-y: auto;
}

table.allowed_actions_table td {
    text-align: center;
    padding: 5px;
}
