.notice_text {
	text-align:center;
	color: green;
	margin:10px;
}

#edit_form_table {}

#edit_form_table td.colspan {
    text-align: center;
}

#edit_form_table tr.hidable {
    /* hidden by default */
    display: none;
}
