
div.sys_fan_unit {
    position:relative;
}

.sys_unit_admin {
    height:16px;
    width:16px;
    left:3px;
    top:48px;    
    position:absolute;    
    z-index:1;
    
    color:yellow;
    font-size:14px;
    text-shadow: 0px 1px 1px #000;    
}
