<div class="wall-event-circle"><i class="sys-icon comment-o"></i></div>
<div class="wall-caption bx-groups-comment-wall-caption">
	<span class="bx-groups-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx-groups-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
</div>
<div class="wall-content bx-groups-comment-wall-content bx-def-margin-sec-bottom">__cnt_comment_text__</div>
<div class="wall-snippet bx-groups-comment-wall-snippet">
	__unit__
</div>