<table>
	<tr>
		<bx_repeat:top_items>
        	<td valign="top">
				<div class="pageac_top_menu_item">
					<a href="javascript:oBxPageACMain.showMenuEditForm('__item_id__')">__item_caption__</a>
				</div>
				<bx_repeat:custom_items>
					<div class="pageac_custom_menu_item"><a href="javascript:oBxPageACMain.showMenuEditForm('__custom_item_id__')">__custom_item_caption__</a></div>
				</bx_repeat:custom_items>
			</td>
        </bx_repeat:top_items>
        <bx_repeat:system_items>
        	<td valign="top">
				<div class="pageac_system_menu_item">
					<a href="javascript:oBxPageACMain.showMenuEditForm('__item_id__')">__item_caption__</a>
				</div>
				<bx_repeat:custom_items>
					<div class="pageac_custom_menu_item"><a href="javascript:oBxPageACMain.showMenuEditForm('__custom_item_id__')">__custom_item_caption__</a></div>
				</bx_repeat:custom_items>
			</td>
        </bx_repeat:system_items>
	</tr>
</table>
<script language="javascript">var sParserURL = "__parser_url__"</script>