
<hr class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom" />
<div id="selectable_el" class="blogBlockX">
    <div class="custom_rss_lists_row_url bx-def-font-h3">
        __rss_url__
    </div>
    <div class="custom_rss_lists_row">
        <span class="bx-def-font-grayed"><bx_text:_Description />:</span> __rss_description__
    </div>
    <div class="custom_rss_lists_row">
        <span class="bx-def-font-grayed"><bx_text:_crss_Quantity />:</span> __rss_quantity__
    </div>
    <div id="crss___rss_status__" class="custom_rss_lists_row">
        __rss_status__
        <span class="sys-bullet"></span>        
        <a id="selectable_el_pic" href="javascript:void(0);" onclick="if( name = prompt('__enter_new_url__', '__rss_url_js__') ) { getHtmlData('custom_rss_lists_div', '__php_self__?ID=__owner_id__&action=ren_rss&rss_id=__rss_id__&rss_url='+ encodeURIComponent(name) +'&mode=ajax', '', 'post'); } return false;">
            <bx_text:_Edit />
        </a>
        <span class="sys-bullet"></span>
        <a id="selectable_el_pic" href="__php_self__?ID=__owner_id__&action=del_rss&rss_id=__rss_id__" onclick="getHtmlData('custom_rss_lists_div', '__php_self__?ID=__owner_id__&action=del_rss&rss_id=__rss_id__&mode=ajax', '', 'post'); return false;">
            <bx_text:_Delete />
        </a>
    </div>
</div>

