<items><item key="registered"><![CDATA[true]]></item><item key="useRMS"><![CDATA[false]]></item><item key="RMSIP"><![CDATA[0.0.0.0]]></item><item key="RMSPort"><![CDATA[1935]]></item><item key="RMSHttpPort"><![CDATA[5080]]></item><item key="bannerUrl"><![CDATA[]]></item><item key="bannerLink"><![CDATA[]]></item><item key="bannerTarget"><![CDATA[_blank]]></item><item key="bannerAlpha"><![CDATA[75]]></item><item key="backColor"><![CDATA[FFFFFF]]></item><item key="opaqueMode"><![CDATA[true]]></item></items>