
.bx_profiler_plank_wrapper {
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;    
}

.bx_profiler_plank {
    border:1px solid #ccc; 
    background-color:#eee;
    position:relative;
    padding:5px;
}

.bx_profiler_content {
    display:none;
}

.bx_profiler_switch {
    position:absolute;
    top:5px;
    right:5px;
    font-weight:bold;
    font-size:11px;
    color:white;    
    background-color:black;
    cursor:pointer;
}

.bx_profiler_plank_title u {
    margin-right:1px;
    text-decoration:none;
}

.bx_profiler_plank_title b {
    margin-right:10px;
}

.bx_profiler_table {
    border-collapse:collapse;    
    margin:5px 0 0 0;
    width:100%;
}

.bx_profiler_table th {
    background-color:transparent;
}

.bx_profiler_table td {
    background-color:white;
    border:1px solid #ccc;
    text-align:center;
}

.bx_profiler_table tr>td:first-child {
    text-align:left;
}
