
            
            </div>

        </td></tr>

        <tr><td valign="top">
                <div style="margin-top:5px; text-align:center; color:#999; font:11px Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;">
                    <bx_text:_sys_email_footer_info />
                </div>                    
                <div style="margin-top:5px; text-align:center; color:#999; font:11px Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;">
                    <BoonexEmailFooter>
                </div>
        </td></tr>

    </table>

</div>

</body></html>
