        		<bx_injection:injection_content_after />
                <div class="clear_both"></div>
            </div>
        </div>
		<bx_injection:banner_bottom />
		<!-- end of body -->
	</div>
	<div class="sys_footer" style="min-width:__main_div_width__;">
	    <bx_injection:injection_between_content_breadcrumb />
	    <div class="sys_breadcrumb bx-def-margin-top" style="width:__main_div_width__;">
	       <div class="sys_bc_wrapper bx-def-margin-sec-leftright bx-def-border">
	            <bx_injection:injection_breadcrumb_before />      
	            __top_menu_breadcrumb__
	            <bx_injection:injection_breadcrumb_after />
	            <div class="clear_both">&nbsp;</div>
	        </div>
	    </div>
	    <bx_injection:injection_between_breadcrumb_bottom_menu />
		<div class="sys_copyright bx-def-margin-top" style="width: __main_div_width__">
	        <div class="sys_cr_wrapper bx-def-margin-sec-leftright bx-def-border">
	            <div class="sys_cr bx-def-margin-leftright">
	                <bx_injection:injection_footer_before />
	        		<div class="bottomLinks bx-def-margin-sec-right">__bottom_links__</div>
	        		<div class="bottomCpr">__copyright__</div>
	        		<bx_injection:injection_footer_after />
	        		<div class="clear_both"></div>
	            </div>
	        </div>
		</div>
	    <bx_injection:injection_between_bottom_menu_footer />
	    __boonex_footers__
	</div>
</div>
<bx_include_auto:_footer.html />