<div class="{unitClass}_AlbumUnit">
    <div class="{unitClass}_Album" style="background-image: url('{albumCover}');">
        <a href="{albumUrl}">
            <img class="{unitClass}_Cover" src="{spacer}" style="background-image: url('{pic}');">
        </a>
    </div>
    <div class="{unitClass}_Title"><a href="{titleLink}" title="{title}">{title}</a></div>
    <div class="{unitClass}_Bottom">
        <div class="{unitClass}_From"><bx_text:_From /> <a href="{fromLink}">{from}</a></div>
    </div>
    <div class="{unitClass}_When">{when}, {view}</div>
</div>