<div class="sys_unit_for_rate bx-def-margin-sec-topbottom">
    <div class="sys_file_search_unit {main_prefix}_search_unit" id="unit_{id}">
        {pic}
        <div class="sys_file_search_info">
            <div class="sys_file_search_title"><a href="{titleLink}" title="{title}">{title}</a></div>
            <div class="sys_file_search_from"><a href="{fromLink}">{from}</a></div>
        </div>    
    </div>
    <div class="sys_file_search_rate bx-def-margin-sec-left">{rate}</div>
    <div class="clear_both"></div>
</div>