<div id="cmts-box-__html_id__" class="cmts-box">
    <bx_include_auto:designbox_top_controls.html />
    <div class="bx-def-bc-margin">

        <a name="cmta-__html_id__"></a>

        <div class="cmts">__list__</div>

        <div class="cmt-show-more bx-def-margin-sec-top">
        <bx_if:show_paginate>
            __content__
        </bx_if:show_paginate>
        </div>

        <bx_if:show_post>
            <div class="cmt-reply bx-def-margin-sec-top">__content__</div>
        </bx_if:show_post>

    </div>
    __js_code__
</div>
