<div class="dbTopMenuPopupCnt">
	<bx_repeat:items>
	    <div id="__id__-act" class="active bx-def-margin-sec-top-auto" __show_active__>
	        <bx_if:icon_act><img __class__ src="__src__" /></bx_if:icon_act>
	        <bx_if:texticon_act><i class="sys-icon __icon__"></i></bx_if:texticon_act>
	        <span __class__>__title__</span>
	    </div>
	    <div id="__id__-pas" class="notActive bx-def-margin-sec-top-auto" __show_passive__>
	        <bx_if:icon_pas><img __class__ src="__src__" /></bx_if:icon_pas>
	        <bx_if:texticon_pas><i class="sys-icon __icon__"></i></bx_if:texticon_pas>
	        <a id="__id__" __class__ __href__ __target__ __on_click__>__title__</a>
	    </div>
	</bx_repeat:items>
</div>