
<div class="bx_sys_files_wrapper bx-def-bc-padding">
    <bx_repeat:files>
        <div class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>
        <div class="bx_sys_files_line">
            <div class="sys_icon bx-def-round-corners"><img alt="__title__" title="__title__" src="__icon__" /></div>
            <p>__title__</p>
            <u class="bx-def-font-small bx-def-font-grayed">__date__</u>
            <div class="bx_sys_files_btns">
                __btn_download__
                <div class="clear_both"></div>
            </div>            
        </div>
    </bx_repeat:files>    
</div>        
