<div class="bx_sys_block_info">
    <div class="infoMain">
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon clock-o"></i>
                __date__ (__date_ago__)
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon folder"></i>
                __cats__
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon tags"></i>
                __tags__
            </div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>

__fields__

