<div class="bx-form-element __element_type__ bx-def-margin-top clearfix__element_class__" __element_attrs__>
	<div class="bx-form-caption bx-def-font-inputs-captions">__required____caption____info_icon____error_icon__</div>
	<div class="bx-form-value clearfix__class_add__">
		__input_code____input_code_extra__
		<bx_if:show_toggle_html>
			<div class="form_input_toggle_html">
				<a href="javascript:void(0);" onclick="$('#__attrs_id__').formsToggleHtmlEditor()"><bx_text:_sys_txt_form_toggle_html_editor /></a>
			</div>
		</bx_if:show_toggle_html>
	</div>
</div>