<table cellspacing="0" cellpadding="0" class="form_advanced_table">
    <tr>
        <td colspan="2" class="colspan" style="white-space: normal">__message__</td>
    </tr>
    <tr>
        <td colspan="2" class="colspan bx-def-padding-sec-top">
            <div class="button_wrapper">
                <input type="button" value="__button_title__" name="subscribe" class="form_input_submit bx-btn bx-btn-small" onclick="__button_script__" />                
            </div>
        </td>
    </tr>
</table>
