<div class="messages_container bx-def-bc-margin">
	<bx_repeat:messages>
        <div class="sys-mailbox-row">
            <div class="sys-mbr-cnt">            
                <div class="sys-mbr-author-icon">
                    <div class="sys-mbr-checkbox">
                        <input type="checkbox" name="messages[]" value="__message_id__" _status="__message_status__" owner="__message_owner__" />
                    </div>
                    __member_icon__
                    <div class="clear_both"></div>
                </div>
                <div class="sys-mbr-message">
                    <div class="sys-mbr-author-info">
                        <a href="__member_location__">__member_nickname__</a><span class="sys-bullet"></span><span class="bx-def-font-grayed">__message_ago__</span>
                    </div>
                    <div class="sys-mbr-subject">
                        <a class="sys-mbr-subject<bx_if:show_new> sys-mbr-subject-new</bx_if:show_new>" href="__message_page__?mode=view_message&messageID=__message_link__">__message_subject__</a>
                    </div>
                </div>
                <div class="sys-mbr-actions">
                    <img src="__message_new_img__" alt="__message_new__" />&nbsp;
                    <a href="__message_contact_url__">
                        <img src="<bx_icon_url:action_send.png />" alt="__message_contact__" />
                    </a>
                </div>
            </div>
        </div>
	</bx_repeat:messages>
	<div class="sys-mailbox-actions bx-def-padding-sec">
		<div class="sys-mba-left">
			__select__ : 
			<a href="__current_page__" onclick="oMailBoxMessages.selectCheckBoxes(true, 'messages_container');return false">__all_messages__</a><span class="sys-bullet"></span><a href="__current_page__" onclick="oMailBoxMessages.selectCheckBoxes(false, 'messages_container');return false">__none_messages__</a><span class="sys-bullet"></span><a href="javascript:void(0)" onclick="oMailBoxMessages.selectReadMessage();return false">__read_messages__</a><span class="sys-bullet"></span><a href="javascript:void(0)" onclick="oMailBoxMessages.selectUnReadMessage();return false">__unread_messages__</a>
		</div>
		<div class="sys-mba-right">
			__messages_actions_block__
		</div>
		<div class="clear_both"></div>
	</div>
</div>
__pagination_block__