<div class="dbContent">
	<div class="infoMain">
		<div class="memberPic">
			__memberPic__
		</div>
		<div class="infoText">
			<div class="rate">
				__rate__
			</div>
			<div class="infoUnit">
				<img src="__dateIcon__"/> __dateInfo__
			</div>
			<div class="infoUnit">
				<img src="__categoryIcon__"/> __categoryInfo__
			</div>
            <bx_if:tagInfo>
    			<div class="infoUnit">
    				<img src="__tagIcon__"/> __tagInfo__
    			</div>
            </bx_if:tagInfo>
			<div class="infoUnit">
				<img src="__viewIcon__"/> __viewInfo__
			</div>
			<div class="infoUnit">
				<img src="__favoriteIcon__"/> __favoriteInfo__
			</div>
		</div>
	</div>
	<div class="clear_both"></div>
	__addInfo__
	<div class="clear_both"></div>
</div>