<td class="top __right__">
	<a href="javascript: void(0)" class="top_link">
	<span class="down bx-def-padding-sec-leftright">
		<img src="__icon_url__" />
	</span>
	<!--[if gte IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table id="mmm"><tr><td><![endif]-->
	<div style="position:relative;display:block;">
    	<ul class="sub">
    	   __element_content__    		
    	   <li class="li_last_round">&nbsp;</li>
    	</ul>
	</div>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</td>
