<!DOCTYPE html>
<html>
<head>
	<title>__page_header__</title>
	<base href="<bx_url_root />" />
	<meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
	<meta name="description" content="__meta_description__" />
	<meta name="keywords" content="__meta_keywords__" />
    <link href="__css_dir__general.css" rel="stylesheet" type="text/css" />
    <script src="plugins/jquery/jquery.js" type="text/javascript" language="javascript"></script>
    <bx_injection:injection_head />
</head>
<body style="width: 386px; margin-top: 10px;">
	<div align="center" style="vertical-align: middle">
		__ray_im__
	</div>
</body>
</html>
