<bx_include_auto:_sub_header.html />
	<div class="qsearch_wrapper"><!-- Main Content Block -->
		
			<div class="disignBoxFirst bx-def-margin-top bx-def-border">
				<div class="boxFirstHeader bx-def-bh-margin">
					__page_header_text__
					<div class="caption_item">__close_window__</div>
				</div>
				<div class="boxContent">
					<div class="clear_both"></div>
						__page_main_code__
					<div class="clear_both"></div>
				</div>
			</div>
			<div class="clear_both"></div>
			
			

	</div><!-- [END] Main Content Block -->
	<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />
