<bx_include_auto:_sub_header.html />
	<div style="position:relative;width:100%;">
		<div class="disignBoxFirst">
			<div class="boxFirstHeader bx-def-bh-margin">__page_header_text__</div>
			<div class="boxContent">
				<div class="clear_both"></div>
					__groups_breadcrumbs__
					
					<div class="group_info">
						<div class="group_left_div">
							<div class="center_thumb_kp">
								<div class="thumbnail_block">__group_image__</div>
							</div>
							<div class="group_actions">
								__group_gallery_link__
								<br /><br />
								__group_actions__
							</div>
						</div>
						<div class="group_creator_info">
							__group_creator_thumb__
							__group_creator_l__<br>
							<b>__group_creator_link__</b>
						</div>
						
						<div class="group_info_row">__category_l__: <b>__category_link__</b></div>
						<div class="group_info_row">&nbsp;</div>
						<div class="group_info_row">__group_type_l__: <b>__group_type__ (__group_type_help__)</b></div>
						<div class="group_info_row">__created_l__: <b>__created__</b></div>
						<div class="group_info_row">__location_l__: <b>__country__, __city__</b></div>
						<div class="group_info_row">__members_count_l__: <b>__members_count__</b></div>
						<div class="group_info_row">__group_about_l__: <b>__group_about__</b></div>
						<div class="group_info_row"><b>__group_status__</b></div> <!-- shown only to creator if not Active status-->
						
						<div class="clear_both"></div>
					</div>
					<div class="group_description">
						__group_description__
					</div>
					<div class="group_description">
						__group_rating__
					</div>
				<div class="clear_both"></div>
			</div>
		</div>
		<div class="clear_both"></div>
		__group_members__
		__group_forum__
	</div>
<bx_include_auto:_sub_footer.html />