<div class="sys-bm-sub-items bx-def-bc-margin">
    <bx_repeat:items>
        <div class="sys-bm-sub-item bx-def-margin-sec-top-auto __class__">
            <bx_if:show_icon>
                <img src="__icon_src__" alt="__icon_alt__" width="__icon_width__" height="__icon_height__" />
            </bx_if:show_icon>
            <a href="__link__" __onclick__>__title__</a>
        </div>
    </bx_repeat:items>
    <script type="text/javascript">
        function showPopup__name_method__() {
        	$('#sys-bm-switcher-__name_block__').dolPopup();
        	return false;
        }
    </script>
</div>