<div class="ps-members-content">
    <bx_if:search_form>
        <div class="ps-search-form bx-def-bc-margin">__form__</div>
    </bx_if:search_form>
    <form id="ps-__wnd_action__-member-form" name="ps-__wnd_action__-member-form" action="member_privacy.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="ps-__wnd_action__-member-group" value="0" />
        <script language="javascript" type="text/javascript">
        <!--                    
            var sPSSiteUrl = '__js_site_url__';
            var iPSGroupId = 0;
        -->
        </script>
        <div class="ps-search-results bx-def-bc-margin">__results__</div>
        __control__
    </form>
    __loading__
</div>