<div class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>
<div class="searchrow_block __ext_css_class__">
    <div class="searchrow_block_cnt">

    	<div class="thumb_section bx-def-margin-sec-right">
    		__thumbnail__
        </div>

    	<div class="short_desc" style="__add_style_c1__">
    		<div class="nick">__nick__</div>
    		<div class="age_from">
    			__zodiac_sign__ __info__
    		</div>
    		<div class="desc">__i_am_desc__</div>
        </div>

    	<div class="short_desc" style="__add_style_c2__">
    		<div class="nick">__nick2__</div>
    		<div class="age_from">
    			__zodiac_sign2__ __info2__
    		</div>
    		<div class="desc">__i_am_desc2__</div>
        </div>

        <div class="match">
            __match__
        </div>

        <div class="clear_both"></div>
    </div>
</div>
