<div id="bx-popup-confirm" class="bx-def-z-index-modal" style="display:none;">
	<div class="popup_form_wrapper trans_box">
	    <div class="container bx-def-border bx-def-round-corners">
	    	<div class="popup_confirm_text bx-def-padding"><bx_text:_Are_you_sure /></div>
	    	<div class="popup_confirm_actions bx-def-padding-rightbottomleft clearfix">
	    		<button class="bx-btn popup_confirm_yes" type="button"><bx_text:_Yes /></button>
	    		<button class="bx-btn popup_confirm_no" type="button"><bx_text:_No /></button>
	    	</div>
	    </div>
	</div>
</div>