<div id="bx-popup-prompt" class="bx-def-z-index-modal" style="display:none;">
	<div class="popup_form_wrapper trans_box">
	    <div class="container bx-def-border bx-def-round-corners">
	    	<div class="popup_prompt_text bx-def-padding-lefttopright"><bx_text:_Enter_value_here /></div>
	    	<div class="popup_prompt_input bx-def-padding">
				<div class="input_wrapper input_wrapper_text clearfix">
					<input class="form_input_text bx-def-font-inputs" type="text" value="" name="bx-popup-prompt-value" />
				</div>
			</div>
	    	<div class="popup_prompt_actions bx-def-padding-rightbottomleft clearfix">
	    		<button class="bx-btn popup_prompt_ok" type="button"><bx_text:_OK /></button>
	    		<button class="bx-btn popup_prompt_cancel" type="button"><bx_text:_Cancel /></button>
	    	</div>
	    </div>
	</div>
</div>