<div class="statusTab">
	<table id="edit_form_table" class="form_advanced_table" cellspacing="0" cellpadding="0">
		<tr>
			<td class="value" colspan="2">
				<div class="userStatMsg">
				__s_status_message__
				</div>
			</td>
		</tr>
		<tr>
			<td class="value" colspan="2">
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border" style="width:140px;">
					<input class="form_input_text bx-def-font" type="text" value="__s_nickname__" name="UserStatusMessage" onkeyup="UpdateStatusMessage(arguments[0],this); return false;" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="value">
				<img src="__online_icon__" />
				__online_lbl__
			</td>
			<td class="value" style="border:0px;padding-bottom:10px;">
				<img src="__busy_icon__" />
				__busy_lbl__
			</td>
		</tr>
		<tr>
			<td class="value">
				<img src="__offline_icon__" />
				__offline_lbl__
			</td>
			<td class="value">
				<img src="__away_icon__" />
				__away_lbl__
			</td>
		</tr>
	</table>

	__js_code__

</div>
