__filter_panel__
<iframe name="pmt-iframe-__type__" class="hidden"></iframe>
<form id="pmt-form-__type__" method="post" action="__action__" target="pmt-iframe-__type__">
    <input type="hidden" name="type" value="__type__" />
    <div class="table-responsive bx-def-bc-margin bx-def-border">
        <div id="pmt-orders-__type__">
            <div class="pmt-orders-header">
                <div class="pmt-orders-chb">&nbsp;</div>
                <div class="pmt-orders-date">__txt_date__</div>
                <div class="pmt-orders-client">__txt_client__</div>
                <div class="pmt-orders-order">__txt_order__</div>
                <div class="pmt-orders-amount">__txt_amount__</div>
                <div class="pmt-orders-license">__txt_license__</div>            
                <div class="pmt-orders-action">__txt_action__</div>
            </div>
            <div class="pmt-orders-content">
                __orders__
            </div>
        </div>
    </div>
    __control_panel__
</form>
__loading__
