<div id="msg_invite___sender_id__" class="msg_ajax">
    <div class="msg_window bx-def-border bx-def-round-corners bx-def-shadow">
	    <div class="msg_window_close">
	    	<a class="bx-popup-element-close" href="javascript:void(0)" onclick="javascript:BxMsgPerformAction(__sender_id__, 'decline');"><i class="bx-popup-element-close sys-icon times" style=""></i></a>
		</div>
        <div class="msg_window_content bx-def-padding-sec">
            <div class="msg_title bx-def-padding-sec-leftright bx-def-font-h3"><bx_text:_messenger_invitation_title /></div>
            <div class="msg_info bx-def-padding-sec clearfix">
	            <div class="msg_left_side">__sender_thumbnail__</div>
	            <div class="msg_right_side bx-def-margin-sec-left clearfix">
	                <div class="msg_sender">
	                    <a href="__sender_profile__" target="_blank">__sender_nickname__</a><br />
	                    <bx_text:_messenger_invitation_description />
	                </div>
	                <div class="msg-post-body bx-def-border bx-def-padding-sec">
	                    __invitation_text__
	                </div>        
	            </div>
			</div>
            <div class="msg_buttons">__invitation_buttons__</div>
        </div>
    </div>
</div>