
<bx_repeat:avatars>
    <div class="bx_ava_tar bx-def-margin-thd">
        <div class="thumbnail_image">
            <img class="bx-def-shadow bx-def-round-corners" style="background-image: url(__url__); width: 64px; height: 64px;" src="<bx_image_url:spacer.gif />"/>
        </div>
        <div class="bx_ava_actions">
            <a href="javascript:void(0);" title="<bx_text:_bx_ava_set_as_my_avatar />" alt="__name__"><i class="sys-icon check-circle-o col-green3"> </i></a>
        </div>
    </div>
</bx_repeat:avatars>

