<script type="text/javascript">
function bx_store_product_file_toggle (e, iId) {
    var eA = $(e);
    eA.html('<bx_text:_bx_store_loading />');    
    $.post ('__bx_store_base_url__toggle_product_file_visibility/' + iId, function (sStatus) {
        eA.html(sStatus);
    });
}    
</script>
<div class="bx_sys_file_choice_wrapper bx_store_product_file_choice_wrapper">
    <bx_if:empty><div class="bx_sys_forms_extra_default_padding" style="white-space:normal;"><bx_text:_Empty /></div></bx_if:empty>
    <bx_repeat:files>
        <div>
            <div class="sys_icon"><label for="__name____id__"><img alt="__title__" title="__title__" src="__icon__" /></label></div>
            <div class="bx_store_product_file_choice_line">__title__</div>
            <div class="bx_store_product_file_choice_line"><a href="javascript:void(0);" onclick="bx_store_product_file_toggle(this, '__file_id__')">__visibility__</a></div>
            <div class="clear_both"></div>
        </div>
    </bx_repeat:files>    
</div>
