<div class="bx-def-bc-padding">
    <bx_if:image>
    <div class="bx_store_main_photo">
        <a title="__image_title__" href="__product_url__"><img class="bx-def-shadow bx-def-round-corners bx-def-margin-sec-bottom" alt="__image_title__" src="__image_url__" /></a>
    </div>    
    </bx_if:image>
    <div class="bx-def-font-h2">
        <a href="__product_url__">__product_title__</a> 
    </div>
    <div class="bx_store_main_info_text bx-def-font-small bx-def-font-grayed">
        __created__
        <br />
        __author_title__ <a href="__author_url__">__author_username__</a>
    </div>
    <div class="bx_store_main_info_img">
        <div class="bx_store_unit_price">__price_range__</div>
        __rating__ 
        <div class="clear_both"></div>
    </div>
    <div class="clear_both"></div>
</div>
