@import url(../../base/css/common.css);

body {
	background-image: none;
}

.bx_sys_unit_checkbox {
    top: 3px;
    left: 3px;
    width: auto;
    height: auto;

    position: absolute;
    z-index: 2;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.9);

    background-color: #ffffff;
}
.bx_sys_unit_checkbox input[type="checkbox"],
.bx_sys_unit_checkbox input[type="radio"] {
	position: relative;
	display: block;

    margin: 3px;
    padding: 0px;
}

/*--- Thumbnail ---*/
div.thumbnail_image a {
	position: relative;
	display: block;
}
div.thumbnail_image a:before {
	position: absolute;
	z-index: 1;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	border-radius: 64px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;

	/*
	TODO: Remove after final decision
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	*/

	content: "";
}

div.thumbnail_image p.thumbnail_image_letter,
div.thumbnail_image p.thumbnail_image_letter2,
div.thumbnail_image img.thumbnail_image_file,
div.thumbnail_image img.thumbnail_image_file2 {
	box-shadow: none;
}
div.thumbnail_image p.thumbnail_image_letter,
div.thumbnail_image p.thumbnail_image_letter2 {
	border-color: rgba(255, 255, 255, 1.0);
}

/*--- Modal window ---*/
.popup_form_wrapper .container {
	border-color: rgba(0, 0, 0, 0.6);
}

/*--- DesignBox ---*/
.disignBoxFirst {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	border-color: rgba(0, 0, 0, 0.6);
	background-color: rgba(255, 255, 255, 0.9);
}
.disignBoxFirst .boxFirstHeader .dbTitle {
    position: relative;
    float: left;

    font-weight: bold;
    color: #88abc2;
}

/*--- DesignBox Menu ---*/


/*--- Pagination ---*/
div.paginate {
	padding-bottom: 10px;
    background-color: transparent;
}

/*--- Button ---*/
.bx-btn {
	position: relative;

	border-width: 0px;
	background-color: rgba(2, 136, 209, 1.0); /* equal to #0288D1 */
	background-image: none;
	filter: none;

	text-transform: uppercase;
	text-shadow: none;
	font-weight: 700;
	font-size: 16px;
}
.bx-btn,
.bx-btn:hover {
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
	color: #ffffff;
}
.bx-btn:hover,
.bx-btn:active { 
	background-color: rgba(2, 136, 209, 0.8);
}
.bx-btn:active {
	top: 1px;

	background-image: none;
	box-shadow: none;

	filter: none;
}
.bx-btn .sys-icon {
	margin-right: 10px;
	font-size: 19px;
}
.bx-btn-small {
    padding: 0px 15px 0px 15px;
    font-size: 12px;
}
.bx-btn.bx-btn-small .sys-icon {
    font-size: 15px;
}
.bx-btn-primary {
	background-color: rgba(255, 64, 129, 1.0); /* equal to #FF4081 */
	background-image: none;
	filter: none;
}
.bx-btn-primary:hover { 
	background-color: rgba(255, 64, 129, 0.8);
}
.bx-btn-primary:active {
	background-image: none;
	filter: none;
}
.bx-btn-loading,
.bx-btn-disabled,
.bx-btn-loading:hover,
.bx-btn-disabled:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.bx-btn-disabled:active {
	top: 0px;

	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
}

/*--- admin actions panel ---*/
.admin_actions_panel {
    background-color: rgba(0, 0, 0, 0.1);
}