@media (max-width:720px) {
	div.sys_mm {
		width: 100% !important;
	}
	div.sys_mm div.sys_mm_cnt {
		padding-left: 0px !important;
		padding-right: 0px !important; 
	}
	div.sys_mm div.sys_mm_scroll_outer,
	div.sys_mm div.sys_mm_scroll_btn {
		display: none;
	}
	div.sys_mm div.sys_mm_cnt .topMenu {
		left: 0px !important;
	}
    div.sys_page_header {
        max-width: 100%;
    }
}
