<span class="bx-anchor-link" id="view"></span>
<div class="fileUnit">
		<div class="navPanel bx-def-margin-sec-bottom">
            <div class="navPanelLink bx-def-font-large">
                <bx_text:_sys_album />: <a href="__albumUri__">__albumCaption__</a>
            </div>
            <bx_if:prev>
               <a href="__linkPrev__#view" title="__titlePrev__"><i class="navPanelLinkPrev sys-icon arrow-left"></i></a>
            </bx_if:prev>
            <bx_if:next>
                <a href="__linkNext__#view" title="__titleNext__"><i class="navPanelLinkNext sys-icon arrow-right"></i></a>
            </bx_if:next>
        </div>
            __file__
    <div class="clear_both"></div>
</div>
<div class="fileUnitInfo bx-def-margin-sec-top">
    <div class="fileUnitInfoRate">
        __rate__
    </div>
    <div class="fileUnitInfoCounts">
        <div class="fileUnitInfoFav">
        	<i class="sys-icon asterisk" title="<bx_text:_bx_videos_view_alt_fav />"></i> 
            __favInfo__
        </div>
        <div class="fileUnitInfoView">
            <i class="sys-icon eye" title="<bx_text:_bx_videos_view_alt_view />"></i>
            __viewInfo__
        </div>        
    </div>
    <div class="clear_both"></div>
</div>
<div class="fileTitle bx-def-margin-sec-top bx-def-font-h1">
    __fileTitle__
</div>
<div class="fileDescription bx-def-margin-sec-top bx-def-font-large">
    __fileDescription__
</div>
