
<hr class="blog_unit_hr bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom" />
<div class="blog_unit">
	<div class="unit_info__post_mode__" style="__style__">
		__checkbox__
		<div class="unit_title bx-def-font-h2">
			__post_caption__
		</div>
		<div class="blog_text bx-def-font-large bx-def-margin-sec-top __friend_style__">			
            __post_picture2__
			__post_description__            
		</div>
        <bx_if:full>
        <div class="unit_date bx-def-margin-sec-top">
            <a href="__author_link__">__author_title__</a>
            <span class="sys-bullet"></span>
            <span class="unit_date bx-def-font-small bx-def-font-grayed">
                <span>__post_date__</span>
            </span>
            <span class="sys-bullet"></span>
            <span class="unit_comments bx-def-font-small bx-def-font-grayed"><i class="sys-icon comments"></i> __comments_count__</span>
        </div>
        </bx_if:full>
        __preview_picture__
	</div>
</div>

