<style>
.page_column_first_width {
	width: 71.9%;
}
.page_column_last_width {
	width: 28.1%;
}
</style>
<div class="sys_page sys_page_blog_member_blog clearfix">
	<div class="page_column page_column_first page_column_first_width" id="page_column_2">
        <div class="page_block_container bx-def-margin-sec-leftright">
		    __post_section__
        </div>
	</div>
	<div class="page_column page_column_last page_column_last_width" id="page_column_3">
        <div class="page_block_container bx-def-margin-sec-leftright">
		    __member_section__
        </div>
	</div>
</div>
<div class="clear_both"></div>
