<div id="wall-event-__post_id__" class="wall-event bx-blog-wall-main">
    <a name="wall-blog-__post_id__"></a>
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon book"></i></div>
        <div class="wall-caption bx-blog-wall-caption">
            <span class="bx-blog-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx-blog-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        </div>
        <div class="wall-content bx-blog-wall-content">
            __unit__
        </div>
        <div class="wall-comments bx-blog-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
