<items><item key="listSource"><![CDATA[Top]]></item><item key="listCount"><![CDATA[10]]></item><item key="useScreenshots"><![CDATA[true]]></item><item key="screenshotWidth"><![CDATA[#screenshotWidth#]]></item><item key="screenshotHeight"><![CDATA[#screenshotHeight#]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="autoPlay"><![CDATA[false]]></item><item key="save"><![CDATA[false]]></item><item key="autoApprove"><![CDATA[true]]></item><item key="convertBitrate"><![CDATA[192]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item><item key="processCount"><![CDATA[2]]></item><item key="failedTimeout"><![CDATA[1]]></item><item key="hideControls"><![CDATA[false]]></item><item key="recordTime"><![CDATA[60]]></item></items>