<items><item key="usex264"><![CDATA[true]]></item><item key="player_height"><![CDATA[400]]></item><item key="listSource"><![CDATA[Top]]></item><item key="listCount"><![CDATA[10]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="autoPlay"><![CDATA[false]]></item><item key="save"><![CDATA[true]]></item><item key="saveMobile"><![CDATA[true]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item><item key="autoApprove"><![CDATA[true]]></item><item key="processCount"><![CDATA[2]]></item><item key="failedTimeout"><![CDATA[1]]></item><item key="hideControls"><![CDATA[false]]></item><item key="bitrate"><![CDATA[512]]></item><item key="quality"><![CDATA[100]]></item><item key="fps"><![CDATA[25]]></item><item key="micRate"><![CDATA[44]]></item><item key="recordTime"><![CDATA[60]]></item></items>