
.bx_groups_main_photo {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.bx_groups_main_photo img {
	max-width: 100%;
    background-color: #fff;
}

.bx_groups_main_info_text {
    width:70%;
    float:left;
    text-align:left;
}
.bx_groups_main_info_img {
    width:30%;
    float:left;
    text-align:right;
}

.bx_groups_main_info_img .votes_small {
    width:auto;
}

#sys_manage_items_manage_fans_content {
    max-height:280px;
    overflow-y:auto;
}
