.fileStatUnit {
    text-align: center;
}

.fileStatCount {

}

.fileStatAdd {

}

.unit_checkbox {
    position: absolute;
    top: 1px;
    width: 20px;
}

#btnCancel {
    float:none;
    display:inline-block;
}

.sys_warning_text {
    color: #FF0000;
}
