<div id="wall-event-__post_id__" class="wall-event bx-events-wall-event">
    <a name="wall-events-__post_id__"></a>
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon comment-o"></i></div>
        <div class="wall-caption bx-events-wall-caption">
            <span class="bx-events-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx-events-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        </div>
        <div class="wall-content bx-events-wall-content bx-def-margin-sec-bottom">__cnt_comment_text__</div>
        <div class="wall-snippet bx-events-wall-snippet">
            __unit__
        </div>
        <div class="wall-comments bx-events-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
