<div id="wall-event-__post_id__" class="wall-event bx_files-wall-event">
    <a name="wall-file-__post_id__"></a>
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
        <div class="wall-event-circle">
        	<i class="sys-icon comment-o"></i>
        </div>
        <div class="wall-caption bx_files-wall-caption">
            <span class="bx_files-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx_files-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        </div>
        <div class="wall-content bx_files-wall-content bx-def-margin-sec-bottom">__cnt_comment_text__</div>
        <div class="wall-snippet bx_files-wall-snippet">
            <div class="wall-thumbnail bx_files-wall-thumbnail bx-def-shadow bx-def-round-corners bx-def-border bx-def-padding-sec">
                <a href="__cnt_item_page__"><img src="__cnt_item_icon__" title="__cnt_item_title__" alt="__cnt_item_title__" /></a>
            </div>
            <div class="wall-info bx_files-wall-info bx-def-margin-sec-left">
                <div class="wall-title bx_files-wall-title">
                    <a href="__cnt_item_page__">__cnt_item_title__</a>
                </div>
                <div class="wall-description bx_files-wall-description bx-def-font-small">__cnt_item_description__</div>
            </div>
            <div class="wall-clear">&nbsp;</div>
        </div>
        <div class="wall-comments bx_files-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
