<div class="bx_files-wall-shp-wrapper bx-def-shadow bx-def-round-corners bx-def-border">
	<a href="__cnt_item_page__"><img class="bx_files-wall-shp" src="<bx_image_url:spacer.gif />" title="__cnt_item_title__" style="width:__cnt_item_width__px; height:__cnt_item_height__px; background-image:url(__cnt_item_icon__);" /></a>
</div>
<div class="wall-info bx_files-wall-info bx-def-margin-sec-left">
	<div class="wall-title bx_files-wall-title">
		<a href="__cnt_item_page__">__cnt_item_title__</a>
	</div>
	<div class="wall-description bx_files-wall-description bx-def-font-small">__cnt_item_description__</div>
</div>
<div class="wall-clear">&nbsp;</div>