<div class="wall-event-circle"><i class="sys-icon __mod_icon__"></i></div>
<div class="wall-caption __mod_prefix__-wall-caption">
	<span class="__mod_prefix__-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="__mod_prefix__-wall-caption-link" href="__cpt_item_url__">__cpt_item__</a>.&nbsp;
</div>
<div class="wall-content __mod_prefix__-wall-content">
	<div class="__mod_prefix__-wall-shp-wrapper bx-def-shadow bx-def-round-corners bx-def-border" style="width:__cnt_item_width__px; height:__cnt_item_height__px;">
		<a href="__cnt_item_page__"><img class="__mod_prefix__-wall-shp" src="<bx_image_url:spacer.gif />" title="__cnt_item_title__" style="width:__cnt_item_width__px; height:__cnt_item_height__px; background-image:url(__cnt_item_icon__);" /></a>
	</div>
	<div class="clear_both"></div>
</div>