<items><item key="user_height"><![CDATA[600]]></item><item key="updateInterval"><![CDATA[5]]></item><item key="soundsUrl"><![CDATA[#soundsUrl#]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="useServer"><![CDATA[#useServer#]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item></items>