div.pmt-cb {
    width: 0px;
	height: 0px;
	clear: both;
	font-size: 1px;
}
iframe.hidden {
    width: 0px;
    height: 0px;
    display: none;
}

/*--- 'Manual Order' and 'More' windows ---*/
div#pmt-orders-more {
	display: none;
}
div#pmt-manual-order {
	display: none;
}

div#pmt-orders-more div.disignBoxFirst, 
div#pmt-manual-order div.disignBoxFirst {
    margin: 0px;
}
div#pmt-orders-more div.boxFirstClose,
div#pmt-manual-order div.boxFirstClose {
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
div#pmt-orders-more div.boxFirstClose img,
div#pmt-manual-order div.boxFirstClose img {
    width: 28px;
    height: 28px;
}
div.boxContent,
div#pmt-orders-more div.boxContent,
div#pmt-manual-order div.boxContent {
    position: relative;
}
div#pmt-om-content,
div#pmt-mo-content {
	position: relative;
    min-width: 296px;
    min-height: 100px;
}

.form_advanced_table td.pmt-mo-items {
	padding: 0px;
}
div.pmt-mo-items {
	max-height: 300px;
	overflow: auto;
}
div.pmt-mo-items-cnt {
	padding: 8px 0px;
}
div.pmt-mo-item {
	margin: 5px 0px 0px 0px;
    padding: 0px;
}
div.pmt-mo-item:first-child {
	margin-top: 0px;
}
div.pmt-mo-item-chb,
div.pmt-mo-item-title,
div.pmt-mo-item-quantity {
    height: 38px;
    
    position: relative;
    float: left;
}
div.pmt-mo-item-chb {
    width: 16px;
}
div.pmt-mo-item-chb input {
    margin: 12px 0px 13px 0px;
    padding: 0px;
}
div.pmt-mo-item-title {
    width: 220px;
    line-height: 38px;
}
div.pmt-mo-item-title-cnt {
	TEXT-OVERFLOW: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
div.pmt-mo-item-quantity {
    width: 40px;
}


/*--- Orders Lists ---*/

div.adm-db-content div#pmt-orders-pending {
    width: 929px;
}

/*--- Table Styles ---*/
div.pmt-orders-header {
    height: 28px;

    background-color: #ececec;

  
    font-size: 12px;    
}
div.pmt-orders-content {}
div.pmt-orders-item {
    border-top: 1px solid #dadada;
    background-color: #f4f7fa;
}
div.pmt-orders-field,
div.pmt-orders-chb,
div.pmt-orders-date,
div.pmt-orders-client,
div.pmt-orders-order,
div.pmt-orders-amount,
div.pmt-orders-license,
div.pmt-orders-action {
    height: 28px;
    
    position: relative;
    float: left;
    
    text-align: left;
    text-indent: 10px;
    line-height: 28px;    
    overflow: hidden;
}
div.pmt-orders-chb {
    width: 20px;
	text-indent: 0px;
}
div.pmt-orders-chb input {
    margin: 8px 0px 0px 5px;
    padding: 0px;
}
div.pmt-orders-client{
    width: 150px;    
}
div.pmt-orders-order {
    width: 200px;    
}
div.pmt-orders-order div.input_wrapper_text {
	position: relative;

    width: 100%;
	height: 24px;
    margin-top: 2px;
	margin-bottom: 2px;

	text-indent: 0px;
	line-height: normal;
    overflow: hidden;
}
div.pmt-orders-amount{
    width: 80px;
    text-align: center;
}
div.pmt-orders-license {
    width: 150px;    
}
div.pmt-orders-date {
    width: 80px;
}
div.pmt-orders-action {
    width: 160px;
    text-align: center;
}

/*--- View Order ---*/
div.pmt-view-order {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
div.pmt-vo-row {
    border-top: 1px solid #dadada;
    background-color: #f4f7fa;
}
div.pmt-vo-caption,
div.pmt-vo-content,
div.pmt-vo-items {
    height: 28px;
    
    position: relative;
    float: left;
    
    line-height: 28px;
    overflow: hidden;
}
div.pmt-vo-caption {
    width: 120px;
    text-indent: 10px;
}
div.pmt-vo-content {
    width: 174px;
}
div.pmt-vo-items {
    height: auto;
    line-height: auto;
}
