/*--- 'Available languages' section ---*/
div.adm-lang-items {}
div.adm-lang-item {}
div.adm-lang-item input {
    margin-left: 0px;
}

/*--- 'Manage keys' section ---*/
div.adm-lk-look {
    padding-left: 10px;

    position: relative;
    float: left;
}
div.adm-lk-input-filter {
    margin: 3px 5px 4px 5px;
}
div.adm-lk-chb-apply {
    position: relative;
    float: left;    
}
div.adm-lk-btn-new {
    margin: 2px 10px 0px 0px;
    position: relative;
    float: right;
}
div.adm-lk-keys {}
div.adm-lk-key {}
div.adm-lk-key input {
    margin-left: 0px;
}
div#adm-langs-add-key,
div#adm-langs-edit-key {
    display: none;   
}
div#adm-langs-add-key table.popup_form_wrapper,
div#adm-langs-add-key table.popup_form_wrapper td.container,
div#adm-langs-edit-key table.popup_form_wrapper,
div#adm-langs-edit-key table.popup_form_wrapper td.container {
    width: auto;
}
div#adm-langs-add-key div.adm-design-box,
div#adm-langs-edit-key div.adm-design-box {
    margin-bottom: 0px;
}
div#adm-langs-add-key div.adm-db-close,
div#adm-langs-edit-key div.adm-db-close {
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
div#adm-langs-add-key div.adm-db-close img,
div#adm-langs-edit-key div.adm-db-close img {
    width: 28px;
    height: 28px;
}
div#adm-langs-add-key-content,
div#adm-langs-edit-key-content {
    width: 480px;
	position: relative;

    overflow-y: scroll;
	overflow-x: hidden;
}
div#adm-langs-add-key-content {
	height: 315px;
}
div#adm-langs-edit-key-content {
	height: 275px;
}
div#adm-langs-add-key-content table.form_advanced_table,
div#adm-langs-edit-key-content table.form_advanced_table,
div#adm-langs-add-key-content table.form_advanced_table tr,
div#adm-langs-edit-key-content table.form_advanced_table tr {
	width: 478px;
	overflow: hidden;
}

iframe.hidden {
    width: 1px;
    height: 1px;
    display: none;
}
