@media (max-width:720px) {

	.admin_login div.admin_login_icon {
		position: relative;

		width: 100%;
		height: 100%;
        margin-bottom: 20px;

		text-align: center;
	}
	
	.admin_login img.admin_login_icon {
		width: 100%;
		max-width: 300px;
		height: 100%;
		max-height: 300px;
	}

	.admin_login div.admin_login_icon {
		position: relative;
	}

	.admin_login .admin_login_form_wrapper {
		min-height: 0px;
		margin-left: 0px;

		-webkit-justify-content: center;
		justify-content: center;
	}
}
