div.adm-settings-wrapper {
    padding: 9px 9px 9px 9px;
}
.form_advanced_table td.caption {
    white-space: normal;
}

/*--- Basic Settings ---*/
tr#adm-bs-splash-editor-wrp div.input_wrapper_textarea {
    width: 100%;
	padding: 0px;
}

.mainLogo {
    max-width: 100%;
}
