div.wall-clear {
    clear:both;
    font-size:0px;
}
div.wall-view {
    position: relative;
}
div.wall-view div.wall-load-more {
	position: relative;
}
div.wall-view div.wall-load-more .bx-btn {
    float: none;
}
div.wall-view div.wall-load-more .bx-btn.bx-btn-loading {
	background-color: #cccccc;
}

/*--- Timeline Styles ---*/
div.wall-timeline {}
div.wall-timeline-cnt {}
div.wall-tl-caption {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 26px;
}
div.wall-timeline div.input_wrapper_doublerange {
	float: none;

	width: auto;
	margin-left: 145px;
	margin-bottom: 0px;
	padding: 6px;

	background-color: transparent;
}

/*--- Divider Styles ---*/
div.wall-divider,
div.wall-divider-today {
    position: relative;
	padding-bottom: 10px;
    font-size: 11px;
}

div.wall-divider-cnt {
	position: relative;
	box-sizing: border-box;

    width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;

    border: 2px solid #cccccc;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #ffffff;
    
    text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #999999;
}

div.wall-divider-nerrow {
    position: relative;
    height: 2px;
    background-color: #cccccc;
}
div.visible {
    display: block;
}
div.hidden {
    display: none;
}

/*--- Event Styles ---*/
div.wall-events {
	position: relative;
}

div.wall-event {
    position: relative;

	min-height: 72px;
	margin: 0px;
	padding-bottom: 10px;
}

div.wall-divider:before,
div.wall-divider-today:before,
div.wall-event:before {
	content: '';
	position: absolute;
	top: 0;
	left: 36px;
	width: 2px;
	height: 100%;

	background: #cccccc;
}

div.wall-event-cnt {
	position: relative;

	min-height: 32px;
	margin: 0px 0px 0px 85px;
	padding: 10px 0px;

	border: 1px solid #cccccc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	background-color: rgba(255, 255, 255, 0.9);
}

div.wall-event-circle-empty {
	position: absolute;
	top: 19px;
	left: -7px;
	width: 8px;
	height: 8px;
	border: 2px solid #e8e8e8;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	background-color: #ffffff;
}

div.wall-event-circle {
    position: absolute;

    right: 10px;

    text-align: center;
    color: #999999;
	opacity: 0.2;
}

div.wall-event-circle .sys-icon {
    font-size: 32px;
    text-align: center;
}

/*--- Event Caption Styles ---*/
div.wall-caption,
div.wall-caption-withicon {
    position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	padding-left: 0px;
    background-repeat: no-repeat;
    background-position: 0px center; 
}
div.wall-caption-withicon {
	padding-left: 20px;
}
div.wall-caption .bullet {
	padding: 0px 5px;
}
span.wall-caption-owner {
    font-weight: bold;
}
a.wall-caption-link,
a.wall-caption-link:link {
    text-decoration: none;
    /*color: #3333cc;*/
}
a.wall-caption-link:hover,
a.wall-caption-link:active {
    text-decoration: underline;
}
a.wall-cl-bold {
	font-weight: bold;
}

/*--- Event Content Styles ---*/
div.wall-content,
div.wall-content-with-image {
    position: relative;

	margin-left: 20px;
	margin-right: 20px;

    overflow: hidden;
}
span.wall-content-see-more {
	
}
div.wall-content p:last-child {
	margin-bottom: 0px;
}
div.wall-content-wrapper {
	overflow: hidden;
}
div.status-message {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
div.wall-event div.friend-info div.thumbnail_block {
	position: relative;
	top: 0px;
	left: 0px;
}
div.wall-shp-wrapper {    
    position: relative;
    
    border: 1px solid #cccccc;    
}
img.wall-shp {
    background-repeat: no-repeat;
    background-position: center;
}

/*--- Event Snippet styles ---*/
div.wall-snippet {
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #dadada;
    overflow: hidden;
}

div.wall-snippet div.wall-thumbnail, 
div.wall-snippet div.wall-info {
    float: left;
    overflow: hidden;
    position: relative;
}
div.wall-snippet div.wall-thumbnail img {
    display:block;
} 
div.wall-snippet div.wall-info {
	max-width: 525px;
}
div.wall-snippet div.wall-title {
	font-weight: bold;
} 
div.wall-snippet p:last-child {
    margin-bottom: 0px;
}
div.wall-event div.wall-snippet div.thumbnail_block {
	position: relative;
	top: 0px;
}

/*--- Common Post styles ---*/
div.wall-event div.wall-event-owner div.thumbnail_block {
	position: absolute;
	top: 0px;
    left: 0px;
	padding: 2px;

	border: 2px solid #cccccc;
	border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;

	background-color: #ffffff; 
}
a.wall-author {
    text-decoration: none;
	font-weight: bold;
}
span.wall-posted-ago {
    text-transform: lowercase;
    font-size: 10px;       
}
div.wall-body {
    position: relative;
}

div.wall-post-link {
    position: relative;
}
div.wall-lnk-thumbnail {
	position: relative;
}
div.wall-lnk-thumbnail img {
    height: auto;
    max-width: 100%;
}
div.wall-lnk-title {
    position: relative;
}
div.wall-lnk-url {
    padding-bottom: 5px;
    position: relative;
}
div.wall-lnk-description {
    position: relative;
}
div.wall-post-media {
    position: relative;
    clear: both;
}
div.wall-pm-thumbnail,
img.wall-pm-thumbnail {
    display: block;
    width: 100%;
    max-width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

div.wall-pm-thumbnail {
	position: relative;
    float: left;

    margin: 5px 10px 5px 5px;

	overflow: hidden;
}
img.wall-pm-thumbnail {
    background-repeat: no-repeat;
    background-position: center;
}

div.wall-pm-duration {
	position: absolute;

	bottom: 5px;
	right: 5px;

	padding: 3px;

	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

/*--- Post Actions Styles ---*/
div.wall-event-actions .bx-btn {
	position: relative;
	display: inline-block;
	float: none;

	vertical-align: top;

	height: 24px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;

	background-color: transparent;
	border-color: #cccccc;
    border-width: 1px;
	border-style: solid;

	line-height: 20px;

	color: #666666;
}
div.wall-event-actions .bx-btn:first-child {
	margin-left: 0px;
}
div.wall-event-actions .bx-btn:hover {
	background-color: #ffffff;
}
div.wall-event-actions .bx-btn.bx-btn-disabled:hover {
	background-color: transparent;
}
div.wall-event-actions .bx-btn .sys-icon {
	margin-left: 0px;
	margin-right: 0px;
}
div.wall-event-actions .wall-repost {
	display: inline-block;
	vertical-align: top;

	margin-left: 5px;
}
div.wall-event-actions .wall-repost-button-small .wall-repost-element-holder {
	line-height: 20px;
	line-height: 1.25rem;
}

/*--- Comment Styles ---*/
div.wall-comments {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
div.wall-comments-view-ctl,
div.wall-comments-post-ctl {    
    position: relative;
    float: left;
    
    line-height: 10px;
}
div.wall-comments-view-ctl {    
    text-align: left;
}
div.wall-comments-post-ctl {
    float: right;
    text-align: right;
}
div.wall-comments-view-cnt,
div.wall-comments-post-cnt {
    position: relative;
    clear: both;
    display: none;
}


/*--- Voting Styles ---*/
div.wall-voting-slider {
	display: none;
}
b.wall-voting-count {
	font-weight: normal;
}


/*--- Overwrite default Comment styles ---*/
div.wall-event div.wall-comments{
    margin-top: 5px;
}
div.wall-event div.wall-comments div.bullet {
    position: relative;
	float: left;
	padding: 0px 5px;
}
div.wall-event div.wall-comments div.cmts {
	margin: 0px;
    padding: 0px;
}
div.wall-event div.wall-comments div.cmts ul.cmts li.cmt:first-child,
div.wall-event div.wall-comments div.cmts ul.cmts li.cmt-no:first-child {
	margin-top: 10px;
}
div.wall-event div.wall-comments a.cmt-replies-hide {
	display: none;
}
div.wall-event div.wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}
div.wall-event div.wall-comments li.cmt div.cmt-replies,
div.wall-event div.wall-comments li.cmt div.cmt-post-reply-to {
	margin: 0px 0px 0px 5px;
}
.cmt-comments-count i {
	font-style: normal;
}

/*--- Profile Edit item styles ---*/
div.wall-content div.wall-caption.p-edit-wall-caption {
	min-height: 32px;
	margin-bottom: 0px;

	line-height: 32px;
}

/*--- Repost item styles ---*/
div.wall-event-repost div.wall-caption.wall-caption-photos,
div.wall-event-repost div.wall-caption.wall-caption-sounds,
div.wall-event-repost div.wall-caption.wall-caption-videos {
	padding-left: 5px;
}

/*--- Animation ---*/
@media only screen and (min-width: 1024px) {
  .cssanimations .thumbnail_block.is-hidden {
    visibility: hidden;
  }
  .cssanimations .thumbnail_block.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .cssanimations .wall-event-cnt.is-hidden {
    visibility: hidden;
  }
  .cssanimations .wall-event-cnt.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
