<div style="float:left;">
    <span class="__status_class__">__status__</span>
</div>
<div style="float:right;">
    <a href="javascript:void(0);" onclick="loadHtmlInPopup('adm_antispam_popup', '<bx_url_admin />antispam.php?popup=__mode___log');"><bx_text:_sys_adm_btn_dnsbl_log /></a>
    <span class="sys-bullet"></span>
    <a href="javascript:void(0);" onclick="loadHtmlInPopup('adm_antispam_popup', '<bx_url_admin />antispam.php?popup=__mode___recheck');"><bx_text:_sys_adm_btn_dnsbl_recheck /></a>
    <span class="sys-bullet"></span>
    <a href="javascript:void(0);" onclick="loadHtmlInPopup('adm_antispam_popup', '<bx_url_admin />antispam.php?popup=__mode___help');"><bx_text:_sys_adm_btn_dnsbl_help /></a>
    <span class="sys-bullet"></span>
    <a href="javascript:void(0);" onclick="loadHtmlInPopup('adm_antispam_popup', '<bx_url_admin />antispam.php?popup=__mode___add');"><bx_text:_sys_adm_btn_dnsbl_add /></a>
</div>
<div class="clear_both"></div>
