<div class="adm-category-items bx-def-bc-margin">
    <bx_repeat:items>
        <div class="adm-category-item bx-def-margin-sec-top-auto">	        	
            <bx_if:icon>
                <img src="__icon__" />
            </bx_if:icon>
            <bx_if:texticon>
                <i class="sys-icon __icon__"></i>
            </bx_if:texticon>
        	<div class="adm-ci-link"><a href="__link__" __onclick__>__title__</a></div>
        	<div class="adm-ci-description">__description__</div>
        </div>
    </bx_repeat:items>
</div>
