<div class="adm-cs-cp-item">
	<span>__name__</span>
	<div class="input_wrapper input_wrapper_select bx-def-margin-sec-left clearfix">
		<select class="form_input_select bx-def-font-inputs" name="select_type" onchange="location.href='__location_href__' + this.value;">
	        <bx_repeat:items>
	        	<option value="__value__" __selected__>__caption__</option>
	        </bx_repeat:items>
	    </select>
	</div>
</div>
<div class="adm-cs-cp-item-right"></div>
<div class="clear_both">&nbsp;</div>