<style>
	.adm-hosting-promo {
		position:relative;
	}
	.adm-hosting-promo > .sys-icon {
		position: absolute;
	
		top: 0px;
		left: 0px;
		width: 32px;
		height: 32px;

		line-height: 32px;
		font-size: 32px;
	}
	.adm-hosting-promo > div {
		padding-left: 42px;
	}
	.adm-hosting-promo > div > a {
		display: block;

		font-size: 14px;
		font-weight: bold;
	}
</style>
<div class="adm-hosting-promo">
	<i class="sys-icon desktop"></i>
	<div>
		<a target="_blank" href="https://www.boonex.com/hosting/"><bx_text:_adm_txt_hosting_title /></a>
		<bx_text:_adm_txt_hosting_text />
	</div>
</div>
