<div class="adm-mlevels-ap-label">
    <bx_text:_adm_txt_mlevels_price_add_days />
</div>
<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border bx-def-margin-thd-left adm-mlevels-ap-input">
    <input type="text" name="days" value="" class="form_input_text bx-def-font" />
</div>
<div class="adm-mlevels-ap-label bx-def-margin-left">
    <bx_text:_adm_txt_mlevels_price_add_price />
</div>
<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border bx-def-margin-thd-left adm-mlevels-ap-input">
    <input type="text" name="price" value="" class="form_input_text bx-def-font" />
</div>
<div class="adm-mlevels-ap-btn bx-def-margin-left">
    <button class="bx-btn bx-btn-small" type="submit" name="adm-mlevels-prices-add">
        <bx_text:_adm_btn_mlevels_add_price />
    </button>
</div>
<div class="clear_both">&nbsp;</div>