<form id="modules-__type__-form" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <div class="modules-items bx-def-bc-margin">
        <bx_repeat:items>
            <div class="modules-item">
                <input type="checkbox" class="form_input_checkbox" id="pathes-__name__" name="pathes[]" value="__value__" bx_can_update="__can_update__" />
                <label for="pathes-__name__">__title__</label>
                __update__
            </div>
        </bx_repeat:items>
    </div>
    __controls__
</form>