<div class="adm-mp-members-extended bx-def-bc-margin">
    <bx_repeat:items>
        <div class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>
        <div class="adm-mp-member-extended">        
            <div class="adm-mp-me-check">
                <input type="checkbox" class="form_input_checkbox" id="adm-mp-__id__" name="members[]" value="__id__" />
            </div>
            <div class="adm-mp-me-thumbnail">__thumbnail__</div>
            <div class="adm-mp-me-info">
        		<div class="adm-mp-me-nick">
                    <a href="__edit_link__" class="__edit_class__">__username__</a>
                </div>
        		<div class="adm-mp-me-age">
                    __info__
        		</div>
        		<div class="adm-mp-me-desc">__description__</div>
        	</div>
        	<div class="clear_both">&nbsp;</div>
        </div>
    </bx_repeat:items>    
</div>
<div class="adm-mp-members-paginate bx-def-padding-thd-bottom">__paginate__</div>
__control__