<div class="adm-mp-order-item">
	<span>
    	<bx_text:_adm_txt_mp_order_by />
    </span>
    <div class="input_wrapper input_wrapper_select bx-def-margin-sec-leftright clearfix">
	    <select class="form_input_select bx-def-font-inputs" name="order_by" onchange="__change_order__">
	        <option value="" selected="selected"><bx_text:_adm_txt_mp_order_none /></option>
	        <option value="NickName"><bx_text:_adm_txt_mp_order_user_name /></option>
	        <option value="DateReg DESC"><bx_text:_adm_txt_mp_order_last_join /></option>
	        <option value="DateLastNav DESC"><bx_text:_adm_txt_mp_order_last_activity /></option>
	    </select>
	</div>
</div>
<div class="adm-mp-order-item-right">
    __per_page__
</div>
<div class="clear_both">&nbsp;</div>