<iframe id="adm-mp-members-iframe" name="adm-mp-members-iframe"></iframe>
<form id="adm-mp-members-form" enctype="multipart/form-data" method="post" action="__action_url__" class="form_advanced" target="adm-mp-members-iframe">
    <input type="hidden" name="adm-mp-members-ctl-type" value="__ctl_type__" />
    <input type="hidden" name="adm-mp-members-view-type" value="__view_type__" />
    <input type="hidden" name="adm-mp-members-ban-duration" value="0" />
    <bx_include_auto:designbox_top_controls.html />
    <div class="adm-mp-members-wrapper" id="adm-mp-members-simple" style="__style_simple__">__content_simple__</div>
    <div class="adm-mp-members-wrapper" id="adm-mp-members-extended" style="__style_extended__">__content_extended__</div>
    <div class="adm-mp-members-wrapper" id="adm-mp-members-geeky" style="__style_geeky__">__content_geeky__</div>
    __loading__
</form>