<bx_include_auto:_sub_header.html />	
    __page_code_controls__
    __page_code_members__
    <script type="text/javascript" language="javascript">
    <!--
        var __obj_name__ = new BxManageProfiles({
            sActionUrl: '__actions_url__',
            sObjName: '__obj_name__',
            sViewType: '__sel_view__',
            sCtlType: '__sel_control__',
            iPerPage: __per_page__,
            sOrderBy: '__order_by__'
        });
    -->
    </script>
<bx_include_auto:_sub_footer.html />