<div class="bx-splash" style="position:relative; height:237px; background-repeat:no-repeat; background-position:0px 0px; background-image:url(templates/base/images/bx_splash_image.jpg)">
    <div class="bx-splash-txt-bg" style="position:absolute; z-index:1; bottom:0px; width:100%; height:96px; background-color:#ffffff; opacity:0.7;">
        <img src="templates/base/images/spacer.gif" />
    </div>
    <div class="bx-splash-txt" style="position:absolute; z-index:2; bottom:0px; width:100%; height:96px;">
        <div class="bx-splash-txt-cnt bx-def-margin" style="position:relative; opacity:1.0;">
            <div class="bx-splash-txt-l1" style="font-size: 36px;">Welcome to the community!</div>
            <div class="bx-splash-txt-l2 bx-def-font-grayed" style="font-size:14px;">This social networking site is powered by <a href="https://www.boonex.com/features">Dolphin Community Software</a> from BoonEx.</div>
            <div class="bx-splash-action bx-def-padding-sec-topbottom" style="position:absolute; top:0px; right:0px;">
                <button class="bx-btn bx-btn-primary" onclick="window.open ('join.php','_self');">Join</button>
                <button class="bx-btn" style="margin-left:10px;" onclick="showPopupLoginForm(); return false;">Login</button>
            </div>
        </div>
    </div>
</div>
