<div class="adm-top-menu bx-def-margin-sec-right">
    <bx_repeat:items>
        <div class="adm-tm-item" onmouseover="javascript:$(this).addClass('adm-tm-item-active');" onmouseout="javascript:$(this).removeClass('adm-tm-item-active');">
            <a href="__url__" title="__caption__" target="__target__" <bx_if:show_onclick>onclick="javascript:__onclick__"</bx_if:show_onclick>>
                <div class="adm-tm-item-icon">
                    __icon__
                </div>
            </a>
        </div>
    </bx_repeat:items>
    __addons__
</div>
