<div class="bx-def-bc-padding">
    <div class="switchUnitRow suViewFile" style="width:__switchWidth__px;">
    	<a href="__href__"><img class="bx-def-round-corners bx-def-shadow" src="__picUrl__" id="mainPic" __imgWidth__ /></a>
    </div>
    <div class="switchUnitRow suMainInfo bx-def-margin-sec-top" style="width:__switchWidth__px;">
    	<bx_if:href>
    		<div class="picTitle bx-def-font-h2">
    			<a href="__href__">__title__</a>
    		</div>
    	</bx_if:href>
    	<bx_if:rate>
    		<div class="picRate">
    			__rate__
    		</div>
    	</bx_if:rate>
    	<div class="clear_both"></div>
    </div>
    <div class="switchUnitRow suAddInfo bx-def-margin-sec-top" style="width:__switchWidth__px;">
    	<bx_if:date>
    		<span class="addInfoDate bx-def-font-grayed">
    			__date__
    		</span>
    	</bx_if:date>
    	<bx_if:from>
    		<span class="addInfoFrom">
    			<a href="__profileUrl__">__nick__</a>
    		</span>
    	</bx_if:from>
    </div>
</div>