div.bx-ads-wall-main {    
    position: relative;    
}

div.bx-ads-wall-caption {
    padding-left: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px center;
    line-height: 30px; 
}

span.bx-ads-wall-caption-owner {
    font-weight: bold;
}

a.bx-ads-wall-caption-link,
a.bx-ads-wall-caption-link:link {
    text-decoration: none;
}
a.bx-ads-wall-caption-link:hover,
a.bx-ads-wall-caption-link:active {
    text-decoration: underline;
}
div.bx-ads-wall-content {
    position: relative;
}

div.bx-ads-wall-comments {
    padding-left: 0px;
}

/*--- Overwrite default Comment styles ---*/
div.bx-ads-wall-comments div.cmts {
    padding: 0px;
    /*display: none;*/
}
div.bx-ads-wall-comments div.cmt-reply {
    padding: 0px;
    /*display: none;*/
}
div.bx-ads-wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}
