<bx_include_auto:_sub_header.html />
	<div class="disignBoxFirst bx-def-margin-top bx-def-border">
		<div class="boxFirstHeader bx-def-bh-margin">
            <div class="dbTitle">
                __page_header_text__
            </div>
            __page_menu_code__
            <div class="news-cb">&nbsp;</div>
        </div>
		<div class="boxContent">
			<div class="clear_both"></div>
				__page_main_code__
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />