
<div class="bx-twig-unit bx_sites_unit bx-def-margin-top-auto">

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
            <div class="bx_sites_unit_thumb110 bx-def-shadow bx-def-round-corners">
                <img src="<bx_image_url:no-image-thumb.png />" />
            </div>
    </div>

    <div class="bx_sites_unit_content bx-twig-unit-info">

	    <div class="bx_sites_unit_row bx-twig-unit-title">
	        <div class="bx_sites_unit_title bx-def-font-h2">
	            <bx_text:_sys_private />
	        </div>
            <div class="clear_both"></div>
	    </div>	    

    </div>

</div>

