
<div class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>

<div class="bx-twig-unit bx_sites_unit_short">

    <a class="bx_sites_unit_title_link bx-def-font-h2" href="__site_url__">__title__</a>

    <div class="bx-twig-unit-line bx-twig-unit-desc">
        <a href="__url__" class="bx-twig-unit-special" target="_blank">__url_title__</a>
    </div>

    <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
        __date__ <span class="sys-bullet"></span> __owner_str__ <a href="__owner_url__">__owner__</a>
    </div>

</div>

