<div class="bx_sites_block_view">
    <div class="bx-def-font-h2 bx-def-margin-sec-bottom">
        <a href="__site_url__" class="title" target="_blank">__site_url_view__</a>
    </div>
    <div class="show_image">
        <bx_if:is_image>
            <img src="__image__" class="bx-def-shadow bx-def-round-corners" />
        </bx_if:is_image>
        <bx_if:is_thumbhtml>
            <div class="bx_sites_img_big_generated bx-def-shadow bx-def-round-corners">
                __thumbhtml__
            </div>
        </bx_if:is_thumbhtml>
    </div>
    <div class="bx_sites_block_rate bx-def-margin-sec-top">
        <div class="bx_sites_vote">__vote__</div>
        <div class="bx_sites_count">
            <div class="bx_sites_val">
                <i class="sys-icon eye"></i>
                <span>__view_count__</span>
            </div>
        </div>
    </div>
</div>
