<div class="wall-oi-item wall-oi-item-grouped __mod_prefix__-wall-oi-item-grouped" id="wall-event-__post_id__">
	<div class="wall-oi-item-ind __mod_prefix__-wall-oi-item-ind bx-def-padding-sec">
	    <div class="wall-oi-item-cnt __mod_prefix__-wall-oi-item-cnt bx-def-round-corners bx-def-shadow">
	    	<div class="wall-oii-image-wrp __mod_prefix__-wall-oii-image-wrp">
	    		<bx_repeat:items>
		    		<div class="wall-oii-image __mod_prefix__-wall-oii-image bx-def-margin-sec-top-auto">
	                    <bx_if:is_image>
                            <a href="__item_page__"><img class="bx-def-shadow bx-def-round-corners" src="__image__" /></a>
	                    </bx_if:is_image>
	                    <bx_if:is_thumbhtml>
                            <a href="__item_page__">__thumbhtml__</a>
	                    </bx_if:is_thumbhtml>
		            </div>
				</bx_repeat:items>
	            <div class="clear_both"></div>
	        </div>
	        <div class="wall-oii-info __mod_prefix__-wall-oii-info bx-def-padding-sec">
				<div class="wall-oii-author __mod_prefix__-wall-oii-author bx-def-margin-sec-top">
					__post_owner_icon__
					<div class="wall-oii-author-cnt __mod_prefix__-wall-oii-author-cnt">
						<div class="wall-oii-author-name __mod_prefix__-wall-oii-author-name">
							<a href="__user_link__">__user_name__</a>
						</div>
						<div class="wall-oii-posted __mod_prefix__-wall-oii-posted bx-def-font-small bx-def-font-grayed">__post_ago__</div>
					</div>
				</div>
	        </div>
	    </div>
	</div>
    <div class="wall-oi-item-circle __mod_prefix__-wall-oi-item-circle bx-def-shadow">
		<i class="sys-icon __mod_icon__"></i>
	</div>
</div>
