<div class="wall-oi-item __mod_prefix__-wall-oi-item wall-oi-sizer" id="wall-event-__post_id__">
	<div class="wall-oi-item-ind __mod_prefix__-wall-oi-item-ind bx-def-padding-sec">
	    <div class="wall-oi-item-cnt __mod_prefix__-wall-oi-item-cnt bx-def-round-corners bx-def-shadow">
	    	<div class="wall-oii-image-wrp __mod_prefix__-wall-oii-image-wrp">
	            <div class="wall-oii-image __mod_prefix__-wall-oii-image bx-def-margin-sec-top-auto">
	                <bx_if:is_image>
                        <a href="__item_page__"><img class="bx-def-shadow bx-def-round-corners" src="__image__" /></a>
	                </bx_if:is_image>
	                <bx_if:is_thumbhtml>
                        <a href="__item_page__">__thumbhtml__</a>
	                </bx_if:is_thumbhtml>
	            </div>
	        </div>
	        <div class="wall-oii-info __mod_prefix__-wall-oii-info bx-def-padding-sec">
	        	<div class="wall-oii-title __mod_prefix__-wall-oii-title bx-def-font-large">
	        		<a href="__item_page__">__item_title__</a>
				</div>
	            <div class="wall-oii-description __mod_prefix__-wall-oii-description bx-def-font-small bx-def-font-grayed">
	                <a href="__item_site_url__" class="bx-twig-unit-special" target="_blank">__item_site_url_title__</a>&nbsp;&mdash;&nbsp;__item_description__
	            </div>
	
				<div class="wall-oii-author __mod_prefix__-wall-oii-author bx-def-margin-sec-top">
					__post_owner_icon__
					<div class="wall-oii-author-cnt __mod_prefix__-wall-oii-author-cnt">
						<div class="wall-oii-author-name __mod_prefix__-wall-oii-author-name">
							<a href="__user_link__">__user_name__</a>
						</div>
						<div class="wall-oii-posted __mod_prefix__-wall-oii-posted bx-def-font-small bx-def-font-grayed">__post_ago__</div>
					</div>
				</div>
				<div class="wall-oii-actions bx-def-margin-sec-top">
					<div class="wall-comment">
						<a class="wall-oii-action wall-oii-action-comment bx-btn bx-btn-small" href="__item_comments_link__" title="<bx_text_attribute:_wall_comment />">
							<i class="sys-icon comment-o"></i>
						</a>
						<div class="wall-comment-counter-holder">__item_comments__</div>
					</div>
					__post_vote__
					__post_repost__
				</div>
	        </div>
	    </div>
	</div>
    <div class="wall-oi-item-circle __mod_prefix__-wall-oi-item-circle bx-def-shadow">
		<i class="sys-icon __mod_icon__"></i>
	</div>
</div>
