<div class="form_advanced_table simple_messenger_chat_block_tbl">
    <div class="simple_messenger_chat_wrapper bx-def-round-corners-with-border bx-def-bc-margin">
        <div class="field_design">
            <i class="sys-icon comments-o"></i>
        </div>
        <input class="form_input_text bx-def-font-inputs" type="text" name="status_message" value="__message__" onclick="this.value=''" onkeypress="if ( typeof oSimpleMessenger != 'undefined' ){return oSimpleMessenger.sendMessage(event, this, __res_id__);}" />
    </div>
    <div class="clear_both"></div>
</div>
