div.wall-event-bx_videos {
    position: relative;    
}
div.bx_videos-wall-caption,
div.bx_videos_comment-wall-caption {
    position: relative;

    background-repeat: no-repeat;
    background-position: 0px center;
    
    line-height: 30px; 
}
div.wall-event-repost div.wall-caption.bx_videos-wall-caption {
	padding-left: 5px;
}
span.bx_videos-wall-caption-owner {
    font-weight: bold;
}
a.bx_videos-wall-caption-link,
a.bx_videos-wall-caption-link:link {
    text-decoration: none;
}
a.bx_videos-wall-caption-link:hover,
a.bx_videos-wall-caption-link:active {
    text-decoration: underline;
}
div.bx_videos-wall-content,
div.bx_videos_comment-wall-content {
    position: relative;
}
div.wall-content.bx_videos-wall-content-grouped {
	overflow: visible;
}
div.bx_videos-wall-content-grouped-cnt {
	margin: -5px;
}
div.bx_videos-wall-content-grouped-cnt div.wall-content-gap {
    margin: 5px;
}
div.bx_videos-wall-content-grouped-cnt div.wall-content-gap div.wall-content-wrapper {
    margin: 0px;
}
div.bx_videos-wall-shp-wrapper,
div.bx_videos-wall-shp-wrapper img {
	width: 240px;
	height: 240px;	
}
div.bx_videos-wall-shp-gap {
    position: relative;
    float: left;
}
div.bx_videos-wall-shp-wrapper {    
    position: relative;
	overflow: hidden;
}
div.bx_videos-wall-shp-duration {
	position: absolute;
	
	bottom: 5px;
	right: 5px;

	padding: 3px;

	background-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
}
div.bx_videos-wall-comments {
    padding-left: 0px;
}

/*--- Overwrite default Comment styles ---*/
div.bx_videos-wall-comments div.cmts {
    padding: 0px;
}
div.bx_videos-wall-comments div.cmt-reply {
    padding: 0px;
}
div.bx_videos-wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}