div.bx-poll-wall-event {
    position: relative;    
}

div.bx-poll-wall-caption {
    padding-left: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px center;
    line-height: 30px; 
}

span.bx-poll-wall-caption-owner {
    font-weight: bold;
}

a.bx-poll-wall-caption-link,
a.bx-poll-wall-caption-link:link {
    text-decoration: none;
}
a.bx-poll-wall-caption-link:hover,
a.bx-poll-wall-caption-link:active {
    text-decoration: underline;
}
div.bx-poll-wall-content {
    position: relative;
}

div.wall-content div.pollAnswerBlock {
    background-color: #ffffff;
}


div.bx-poll-wall-comments {
    padding-left: 0px;
}

div.bx-poll-wall-event div.bx-poll-wall-comments div.pollInfo {
	position: absolute;
	top: 0px;
	right: 0px;
}

/*--- Overwrite default Comment styles ---*/
div.bx-poll-wall-comments div.cmts {
    padding: 0px;
    /*display: none;*/
}
div.bx-poll-wall-comments div.cmt-reply {
    padding: 0px;
    /*display: none;*/
}
div.bx-poll-wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}
