<items><item key="fontSize"><![CDATA[11]]></item><item key="useUrls"><![CDATA[true]]></item><item key="user_width"><![CDATA[550]]></item><item key="user_height"><![CDATA[550]]></item><item key="useEnter"><![CDATA[true]]></item><item key="updateInterval"><![CDATA[5]]></item><item key="videoQuality"><![CDATA[100]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="soundsUrl"><![CDATA[#soundsUrl#]]></item><item key="smilesetsUrl"><![CDATA[#smilesetsUrl#]]></item><item key="useServer"><![CDATA[#useServer#]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item><item key="userMusic"><![CDATA[#userMusic#]]></item><item key="userVideo"><![CDATA[#userVideo#]]></item><item key="userProfile"><![CDATA[true]]></item><item key="fileMaxSize"><![CDATA[#fileMaxSize#]]></item><item key="fileSize"><![CDATA[10]]></item></items>