<div>

	<div class="bx_ads_main_photo bx-def-margin-sec-bottom">
		<a href="__ad_link__">
			<img class="bx-def-round-corners bx-def-shadow" src="__ad_big_cover_img__" />
		</a>
    </div>

    <div class="bx_ads_main_info">

		<div class="bx_ads_main_info_text">
            <div class="bx-def-font-h2"><a href="__ad_link__">__ad_title__ <bx_if:expired>(<bx_text:_bx_ads_expired />)</bx_if:expired></a></div>
            <div class="ads_info_line"><i class="sys-icon folder"></i> __cats__ </div>
			<div class="ads_info_line">__ad_date__ <span class="sys-bullet"></span> __from_label__ <a href="__ad_owner_link__">__ad_owner_name__</a></div>
        </div>

		<div class="bx_ads_main_info_img">
			__rating__
			<div class="clear_both"></div>
            <bx_if:using_c1><div class="ads_info_line" style="__cust_style1__">__custom_name1__: __unit__ __custom1__ </div></bx_if:using_c1>
            <bx_if:using_c2><div class="ads_info_line" style="__cust_style2__">__custom_name2__: __custom2__ __unit2__</div></bx_if:using_c2>
        </div>

        <div class="clear_both"></div>

    </div>

</div>
