<select name="Classified" id="Classified" onchange="AjaxyAskForSubcatsWithInfo('SubClassified', this.value, 'custom_values');">
	<option value="-1"><bx_text:_Choose /></option>
	<option value="-1">----------</option>
	__sCatOptions__
</select>&nbsp;&nbsp;&nbsp;&nbsp;
<select class="size20" name="IDClassifiedsSubs" id="SubClassified" style="">__sSubsRows__
</select>
__sScriptHandle__

<hr class="bx-def-hr" />
<span id="ad_CustomFieldCaption1"><bx_text:_bx_ads_Custom_Values /></span>
<span id="custom_values">__sCustomValues__</span>

<bx_if:cat_warning>
    <i class="warn sys-icon exclamation-circle" float_info="<bx_text:_bx_ads_category_warn />" style="float:none; display:inline-block;"></i>
</bx_if:cat_warning>
