
    <div>
        <bx_text:_bx_wmap_admin_links_explanation />
    </div>
    <div class="bx-def-margin-top">
        <a href="__module_url__update_locations"><bx_text:_bx_wmap_admin_update_modules_locations /></a>
    </div>

    <hr class="bx-def-hr bx-def-margin-top bx-def-margin-bottom" />

    <bx_repeat:parts>
        <div class="bx_wmap_part">
            __icon__
            <a href="__link_base____part__">__title__</a>
        </div>        
    </bx_repeat:parts>
    <div class="clear_both"></div>

