<div id="wall-event-__post_id__" class="wall-event common">
    <a name="wall-event-__post_id__"></a>
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
    	<!--
    	TODO: remove completely if confirm 
        <div class="wall-event-circle-empty">&nbsp;</div>
        -->
        <div class="wall-caption">   
            <a href="__author_url__" class="wall-author">__author_username__</a>
            <bx_if:show_wall_owner>
	        	<i class="wall-caption-divider sys-icon chevron-right"></i>
	        	<a href="__owner_url__" class="wall-author">__owner_username__</a>
	        </bx_if:show_wall_owner>
        </div>
        <div class="wall-content">__post_content__</div>
        <div class="wall-comments" id="wall-comment-__post_id__">__comments_content__</div></div>
</div>