<div id="wall-event-__post_id__" class="wall-event">
	<a name="wall-event-__post_id__"></a>
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon user"></i></div>
        <div class="wall-caption">
            <span class="wall-caption-owner">__cpt_user_name__</span> <bx_text:_wall_friends_with /> <a class="wall-caption-link wall-cl-bold" href="__cpt_friend_url__">__cpt_friend_name__</a>.&nbsp;
        </div>
        <div class="wall-content friend-info">__cnt_friend__</div>
        <div class="wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
