<div class="wall-thumbnail __mod_prefix__-wall-thumbnail bx-def-shadow bx-def-round-corners">
	<a href="__cnt_item_page__"><img src="__cnt_item_icon__" title="__cnt_item_title_attr__" alt="__cnt_item_title_attr__" /></a>
</div>
<div class="wall-info __mod_prefix__-wall-info bx-def-margin-sec-left">
	<div class="wall-title __mod_prefix__-wall-title">
		<a href="__cnt_item_page__">__cnt_item_title__</a>
	</div>
	<div class="wall-description __mod_prefix__-wall-description bx-def-font-small">__cnt_item_description__</div>
</div>
<div class="wall-clear">&nbsp;</div>