<div class="wall-event-circle"><i class="sys-icon comment-o"></i></div>
<div class="wall-caption __mod_prefix__-comment-wall-caption">
	<span class="__mod_prefix__-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="__mod_prefix__-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
</div>
<div class="wall-content __mod_prefix__-comment-wall-content bx-def-margin-sec-bottom">__cnt_comment_text__</div>
<div class="wall-snippet __mod_prefix__-comment-wall-snippet">__snippet__</div>