<div id="wall-event-__post_id__" class="wall-event __mod_prefix__-wall-event">
    <div class="wall-event-owner">__post_owner_icon__</div>
    <div class="wall-event-cnt">
        <div class="wall-event-circle">
        	<i class="sys-icon __mod_icon__"></i>
        </div>
        <div class="wall-caption __mod_prefix__-wall-caption" style="background-image:url(<bx_icon_url:wall_post_icon.png />)">
            <span class="__mod_prefix__-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__.&nbsp;
        </div>
        <div class="wall-comments __mod_prefix__-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>